@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');



#body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.contenedor_padre{
    width:  90%;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
}

.contenedor_padre_secciones{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
}
.contenedor_secciones{
    background-color: #E6EBC1;
    width: 95%;
    border-radius: 3px;
}

header {
    width: 100%;
    height: 20%;
    margin-top: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}
.lista_secciones{
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.69);
}
.lista_secciones li {
    list-style-type: none;
    font-family: "Italiana";
    
}
.lista_secciones li a {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.69);
    text-decoration: none;
    padding: 0px 20px;
    color: #96C68E;
    margin-left: 70px;
}
.secciones:hover {
    border: 1px solid #D28936;
    background-color: #D28936;
    border-radius: 8px;
}

.texto_principal{
    text-align: center;

}
.texto_principal h1{
    font-family: 'Londrina Solid', cursive;
    color:beige;
    text-shadow: -2px -2px 1px #96C68E, 2px 2px 1px #96C68E, -2px 2px 1px #96C68E, 2px -2px 1px #96C68E;
    font-size: 4rem;
    align-self: center;
    margin: 20px;

}
.texto_principal1{
    color: #96C68E;
    font-size: 22px;
}
.texto_principal2{
    font-size: 22px;
    background-color:#96C68E;
    color: antiquewhite;

}
.seccion_imagen_principal{
    display: flex;
    justify-content: center;
}
.imagen_principal{
    width: 70%;
    height: 60%;
    margin-top: 2%;
    align-items: center;
    border-radius: 7px;
}


.titulo_presentacion{
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    color:beige;
    border: 1px solid #96C68E;
    text-shadow: -1px -1px 1px #96C68E, 1px 1px 1px #96C68E, -1px 1px 1px #96C68E, 1px -1px 1px #96C68E;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 10px;

}

.texto_presentacion1{
    text-align: center;
    color: #5DA535;
    font-size: 20px;
}
.texto_presentacion2{
    text-align: center;
    color: #5DA535;
    font-size: 18px;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    background-color: #E5EFC5;
    padding: 8px;
    border-radius: 50px;
}
.boton_inicio{
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 1%;
    align-self: center;
    background-color: #96C68E;
    border: 1px solid #5DA535;
    color: beige;
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-family: "Italiana";
    margin-left: 40%;
}

.icono{
    width: 30px;
    
}
.icono:hover {
    animation: movimiento 5s;
    animation-iteration-count: infinite;
}
@keyframes movimiento {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px) rotate(-1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    90% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.sector_caracteristicas{
    background-color: beige;
    margin-top: 5%;
    align-items: center;
    text-align: center;
}
.sector_caracteristicas h3{
    font-size: 2rem;
    font-family: 'Londrina Solid', cursive;
    color: #96C68E;
    

}
.texto_caracteristicas{
    font-size: 20px;
}



/*REGISTRO*/
.titulo_registrate{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Londrina Solid', cursive;
    color: beige;
    text-shadow: -2px -2px 1px #96C68E, 2px 2px 1px #96C68E, -2px 2px 1px #96C68E, 2px -2px 1px #96C68E;
    margin-top: 2%;
}

.label_form{
    display: flex;
    justify-content: center;
    color: #5DA535;
    font-size: 20px;
}
.input_form{
    border-radius: 5px;
    border: 1px solid #5DA535;
    width: 90%;
    height: 30px;
    align-self: center;
    padding: 12px;
    margin-bottom: 10px;

}
#boton_registro{
    border-radius: 12px;
    margin-top: 3%;
    margin-bottom: 1%;
    align-self: center;
    background-color: #96C68E;
    border: 1px solid #5DA535;
    color: beige;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-family: "Italiana";
}

.titulo_inicio_sesion{
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: 'Londrina Solid', cursive;
        color:#FF5733;
        text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
        margin: 3% 0%;
}
.formulario_registro{
    width: 95%;
    max-width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5% ;
}
.link_formulario{
    text-align: center;
}


/*INICIO DE SESION*/
#nombre_mascota{
    display: flex;

}
#tamanio_mascota{
    display: flex;
    
}

.boton_info{
    display: flex;
    margin: 3%;
}



/*FOOTER*/
#footer{
    background-color: #b3ceae;
    height: 100px;
    
}
.titulo_footer{
    font-size: 20px;
    font-family: 'Londrina Solid', cursive;
    color:rgb(226, 226, 201);
    text-align: center;
}
.icono_footer{
    width: 30px;
    height: 30px;
}
.div_iconos_footer{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.texto_footer{
    color: #E5EFC5;
    margin: 15px;
}
.boton_footer{
    background-color: #b3ceae;
    border: #b3ceae;
}
