@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');



.body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.contenedor_padre{
    width:  90%;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
}

.contenedor_padre_secciones{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
}
.contenedor_secciones{
    background-color: #E6EBC1;

    width: 95%;
    border-radius: 3px;
}

header {
    width: 100%;
    height: 20%;
    margin-top: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}
.lista_secciones{
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.69);
}
.lista_secciones li {
    list-style-type: none;
    font-family: "Italiana";
    
}
.lista_secciones li a {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.69);
    text-decoration: none;
    padding: 0px 20px;
    color: #96C68E;
    margin-left: 70px;
}
.secciones:hover {
    border: 1px solid #D28936;
    background-color: #D28936;
    border-radius: 8px;
}

.texto_principal{
    text-align: center;

}
.texto_principal h1{
    font-family: 'Londrina Solid', cursive;
    color:beige;
    text-shadow: -2px -2px 1px #96C68E, 2px 2px 1px #96C68E, -2px 2px 1px #96C68E, 2px -2px 1px #96C68E;
    font-size: 4rem;
    align-self: center;
    margin: 20px;

}
.texto_principal1{
    color: #96C68E;
    font-size: 22px;
}
.texto_principal2{
    font-size: 22px;
    background-color:#96C68E;
    color: antiquewhite;

}
.seccion_imagen_principal{
    display: flex;
    justify-content: center;
}
.imagen_principal{
    width: 70%;
    height: 60%;
    margin-top: 2%;
    align-items: center;
    border-radius: 7px;
}








/*REGISTRO*/
.titulo_registrate{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Londrina Solid', cursive;
    color: beige;
    text-shadow: -2px -2px 1px #96C68E, 2px 2px 1px #96C68E, -2px 2px 1px #96C68E, 2px -2px 1px #96C68E;
    margin: 3% 0%;
}

.label_form{
    display: flex;
    justify-content: center;
    color: #5DA535;
    font-size: 20px;
}
.input_form{
    border-radius: 5px;
    border: 1px solid #5DA535;
    margin: 2% 40%;
    width: 20%;
    height: 30px;
}
#boton_registro{
    border-radius: 12px;
    margin: 3% 45% 1%;
    background-color: #96C68E;
    border: 1px solid #5DA535;
    color: beige;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-family: "Italiana";
}
#inicio_sesion{
    border-radius: 12px;
    margin: 1% 44%;
    background-color: #96C68E;
    border: 1px solid #96C68E;
    color: beige;
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-family: "Italiana";
}
.titulo_inicio_sesion{
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: 'Londrina Solid', cursive;
        color:#FF5733;
        text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
        margin: 3% 0%;
}



/*INICIO DE SESION*/
#nombre_mascota{
    display: flex;

}
#tamanio_mascota{
    display: flex;
    
}

.boton_info{
    display: flex;
    margin: 3%;
}
